@* <div style="width: 80% !important; margin: 50px auto;">
    <canvas id="chartBarVertical"></canvas>
</div>

<div style="width: 50% !important; margin: 50px auto;">
    <canvas id="chartPie"></canvas>
</div> *@

<div class="row">
    <div class="col-6">
        <div style="width: 100% !important; margin: 50px auto;">
            <canvas id="chartBarVertical"></canvas>
        </div>
    </div>
    <div class="col-6">
        <div style="width: 50% !important; margin: 50px auto;">
            <canvas id="chartPie"></canvas>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header bg-primary text-white">Dados da transação</div>
    <div class="card-body">
        <div id="registrosGrafico" class="table-responsive"></div>
    </div>
</div>

<script>
    const _transacaoId = "@ViewBag.GuidId"
</script>
@* <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> *@
<script src="~/js/chartjs-v4-4-9.js"></script>
<script src="~/componentsjs/transacao/grafico.js"></script>
