<div class="card">
    <div class="card-header bg-primary text-white">Transações</div>
    <div class="card-body">
        <div id="registros" class="table-responsive"></div>
    </div>
</div>

<script src="~/componentsjs/transacao/listar.js"></script>