@* @{
    Layout = "/Views/Shared/_Autenticacao.cshtml";
} *@

@* <h1 style="">Exectravel Viagens</h1>
<p>No mundo todo, sinta-se em casa.</p> *@

<div class="container" style="margin-top: 100px;"> 
    <div class="row"> 
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> 
            <img src="https://static.tursites.com.br/data/design/shared/image/layouts/miami/index-corporativo.jpg" class="img-responsive"> 
        </div> 
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> 
            <p class="subtitulo" style="color: #2c82c9; font-size: 33px;">Um pouco sobre nós</p>
            <h1 class="titulo">Corporativo</h1> 
            <p>A gestão de viagens corporativas se tornou uma função essencial para empresas que buscam maior controle das despesas de viagens. Nossa dedicação é total para a entrega de um serviço eficiente e qualificado, 
                proporcionando vantagens econômicas e segurança aos colaboradores de sua empresa.</p> 
            <p>Oferecemos as melhores ferramentas de viagens (self booking) disponíveis no mercado para nossos clientes.</p> 
            <div class="btn-corporativo"> <a href="https://www.exectravel.tur.br/corporativo" target="_blank" class="btn btn-primary">Saiba Mais</a> </div>
        </div> 
    </div> 
</div>

@* <section id="index-mapa" class="mt-5"> <iframe class="tsx_dados_mapa_1 " id="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.3846556571316!2d-46.66489568440675!3d-23.55462466723008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce582db9fe0f53%3A0x4e8ea8a48f02bc90!2sAv.%20Ang%C3%A9lica%2C%202601%20-%20Bela%20Vista%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001227-200!5e0!3m2!1spt-BR!2sbr!4v1646220250543!5m2!1spt-BR!2sbr" width="100%" height="500px"></iframe> </section>
 *@